<?xml version='1.0' encoding='utf-8'?>
<widget id="com.coef"  version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:gap="http://phonegap.com/ns/1.0" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Coef</name>
    <description>
  Esta app, sirve para que el responsable pueda controlar los pedidos enviados a la obra.  </description>
    <author email="mobile@grupocore.net" href="http://www.grupocore.net">
        Grupo Core Team
    </author>
    <content src="index.html" />
    
    <plugin name="cordova-plugin-whitelist" version="1" />
    <gap:plugin name="pushbots-cordova-plugin" source="npm" />
    
    <access origin="*" />
    <access origin="*.pushbots.com" />
    
    
    <allow-intent href="http://*/*" />
    <allow-intent href="https://*/*" />
    <allow-intent href="tel:*" />
    <allow-intent href="sms:*" />
    <allow-intent href="mailto:*" />
    <allow-intent href="geo:*" />
    <platform name="android">
        <allow-intent href="market:*" />
    </platform>
    <platform name="ios">
        <allow-intent href="itms:*" />
        <allow-intent href="itms-apps:*" />
    </platform>
    
    <icon src="res/logo.png" />
</widget>
